node_modules/
.env
.DS_Store

/tmp/

/backend/bin/
/backend/*.db
/backend/.air.toml
/backend/**/tmp/

/frontend/.next/
/frontend/out/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.production.local